/Appendix
/BJTU
/Database
/Personal
/Sundries
/HOME.md
/Task.md
/ObsidianManual/Test
/.bat
/.obsidian
**/Temporary.md
/Academy/*
!/Academy/Latex/
/Academy/Latex/*
!/Academy/Latex/Grammar
Temporary/
'Fast Note.md'
